.Container {
  /* border: 2px solid red; */
  /* height: 80px; */
  padding: 10px;
  display: flex;
  flex-flow: wrap;
}
h1 {
  text-align: center;
}
.MainContainer {
  background-color: #526d82;
  color: #dde6ed;
}
